<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div align="center">
    <form th:action="@{/registration_page}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
    </form>
    <br>
    <form action="#" th:action="@{/user_login}" th:object="${user}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td><input type="text" th:field="*{login}" placeholder="Login">
                    <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                           class="validation-message"></label>
                </td>
            </tr>
            <tr>
                <td><input type="password" th:field="*{password}" placeholder="Password"></td>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       class="validation-message"></label>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Login</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>