<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Login</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.password}"></td>
            <td><a th:href="@{'/edit/' + ${user.id}}">Edit </a>
                <br>
                <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>